.tag {
    display: flex;
    gap: 10px;
    justify-content: center;
  
    .tag-item {
      display: inline-flex;
      height: 25px;
      align-items: center;
      background-color: transparent;
      color: white;
      margin-top: 10px;
      border: 2px solid #082ebd;
      border-radius: 15px;
      font-size: 12px;
      font-weight: 700;
      padding: 0 12px;
    }
  }
  