.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  width: 100%; 
  background-color: white; 
  z-index: 1000;
  border-bottom: 3px solid #545e84;
  padding-bottom: 30px;
}

.header-title {
  font-family: 'Cabin Sketch';
  font-weight: 700;
  font-size: 50px;
  margin: 0;
}

.header-title a {
  text-decoration: none;
}

.nav {
  display: flex;
  width: 50%;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  font-size: calc(0.5rem + 0.8vw);
  padding: 15px;
}

.nav a {
  cursor: pointer;
  color: #06011d;
  font-weight: 800;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #082ebd;
  transition: width 0.5s ease-out;
}

.nav a:hover::after,
.nav a.active::after {
  width: 100%;
}

.nav ul {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.nav li {
  margin: 0;
  list-style-type: none;
}
