.footer {
  display: flex;
  flex-direction: row;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.footer-title {
  font-family: 'Cabin Sketch';
  font-size: 50px;
}

.icones-reseaux {
  display: flex;
  gap: 40px;
  position: relative;
}

.icones-reseaux img {
  width: 40px;
  height: 40px;
}
