.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex-wrap: wrap; /* Ajouté pour permettre l'ajustement des éléments */
}

.footer-title {
  font-family: 'Cabin Sketch';
  font-size: 50px;
}

.icones-container {
  display: flex;
  gap: 40px;
  justify-content: center; /* Centrer les icônes */
}

.icones-reseaux img {
  width: 40px;
  height: 40px;
}