$small: 576px;
$medium: 767px;
$large: 992px;
$xlarge: 1248px;

// Couleurs principales
$color-primary: #082ebd;
$color-secondary: #2ecc71;

// Couleurs de texte
$color-text-primary: #333333;
$color-text-secondary: #777777;

// Couleurs de fond
$color-background: #ffffff;
$color-background-secondary: #f2f2f2;


