$color_1: orangered;

#section-principale-404 {
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		color: $color_1;
		font-weight: 700;
		line-height: 142.6%;
		margin: 139px 0;
	}
	p {
		color: $color_1;
		font-weight: 500;
		line-height: 142.6%;
		margin: 0 0 139px;
	}
	a {
		color: $color_1;
		font-weight: 500;
		line-height: 142.6%;
		margin: 0 0 139px;
	}
}
@media (max-width: 576px) {
	#section-principale-404 {
		h1 {
			font-size: 96px;
		}
		p {
			display: flex;
			flex-direction: column;
			font-size: 18px;
			align-items: center;
		}
		a {
			font-size: 14px;
		}
	}
}
@media (min-width: 992px) {
	#section-principale-404 {
		h1 {
			font-size: 288px;
		}
		p {
			display: block;
			font-size: 36px;
		}
		a {
			font-size: 18px;
		}
	}
}
